[submodule "v2.5.0/protobuf"]
	path = v2.5.0/protobuf
	url = https://github.com/google/protobuf.git
[submodule "v2.6.1/protobuf"]
	path = v2.6.1/protobuf
	url = https://github.com/google/protobuf.git
[submodule "v3.0.0-beta-1/protobuf"]
	path = v3.0.0-beta-1/protobuf
	url = https://github.com/google/protobuf.git
[submodule "v3.0.0-beta-2/protobuf"]
	path = v3.0.0-beta-2/protobuf
	url = https://github.com/google/protobuf.git
[submodule "v2.5.0c/protobuf"]
	path = v2.5.0c/protobuf
	url = https://github.com/google/protobuf
[submodule "v2.6.1c/protobuf"]
	path = v2.6.1c/protobuf
	url = https://github.com/google/protobuf
